@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

*,*::after,*::before {margin: 0;padding: 0;box-sizing: border-box}

body {background-color: #444;color: #fff;font-size:17px;text-align: center}

:root {--input-font-size: 1.4rem}

#grid1_input_1, #grid2_input_1, #grid2_input_2, #grid3_input_1, #grid3_input_2, #grid4_input_1, #grid4_input_2, #grid5_input_1, #grid5_input_2, #grid6_input_1, #grid6_input_2, #grid6_input_3, #grid7_input_1, #grid7_input_2, #grid7_input_3, #grid8_input_1, #grid8_input_2, #grid8_input_3, #grid9_input_1, #grid10_input_1, #grid11_input_1, #grid11_input_2, #grid11_input_3, #grid12_input_1, #grid13_input_1, #grid14_input_1, #grid15_input_1, #grid15_input_2, #grid15_input_3, #grid16_input_1, #grid16_input_2, #grid16_input_3, #grid17_input_1, #grid17_input_2, #grid18_input_1, #grid18_input_2, #grid18_input_3, #grid19_input_1, #grid19_input_2, #grid19_input_3, 
#grid20_input_1, #grid20_input_2, #grid20_input_3 {
  font-size: var(--input-font-size);
}

a {text-decoration: none;color: #fff}
a:hover {font-size: 1.07rem;color: #000;background-color: #d4f5c0;letter-spacing: 0.1rem}

.bla-gre {background-color: #61ec61; color:#000}
.bla-pin {background-color: #fc9696; color:#000}
.bla-yel {background-color:yellow; color:#000}

button {background-color: #efc16c;width: 98%;height: 2rem;border-radius: 50px;padding-left: 2rem;font-size: 1rem}

.container {display: grid;grid-template-columns: 1fr;height: auto;margin-left: 5%;margin-right: 5%;width: 90%}

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12, .grid13, .grid14, .grid15, .grid16, .grid17, .grid18, .grid19, .grid20 {
  display: grid; grid-gap: 0.5rem; grid-template-columns: 1fr 1fr; margin-bottom: 1.5rem; background-color: #2196F3; padding: 10px;color: black;
}

.grid1 > div {background-color: #cff8f8}
.grid2 {background-color: green} .grid2 > div {background-color: #cdf6cd}
.grid3 {background-color: yellow} .grid3 > div {background-color: #ffffc8}
.grid4 {background-color: orange} .grid4 > div {background-color: #ffedad}
.grid5 {background-color: #ff00cc} .grid5 > div {background-color: #f0cae5}
.grid6 {background-color: #91d5fa} .grid6 > div {background-color: #e1e1e1c3}
.grid7 {background-color: purple} .grid7 > div {background-color: #fc98fc}
.grid8 {background-color: brown} .grid8 > div {background-color: #deb887}
.grid9 {background-color: blue} .grid9 > div {background-color: #cbcbf2}
.grid10 {background-color: green} .grid10 > div {background-color: #c7f5c7}
.grid11 {background-color: #fe99aa} .grid11 > div {background-color: #f5d9de}
.grid12 {background-color: chartreuse} .grid12 > div {background-color: #e4f7d2}
.grid13 {background-color: crimson} .grid13 > div {background-color: #e5c0c8}
.grid14 {background-color: yellow} .grid14 > div {background-color: #ffffc1}
.grid15 {background-color: #1500ff} .grid15 > div {background-color: #c1e2ff}
.grid16 {background-color: #f200ff} .grid16 > div {background-color:#f2bdf5}
.grid17 {background-color: #19e40a} .grid17 > div {background-color:#c0f5c0}
.grid18 {background-color:#f16262} .grid18 > div {background-color:#f3c2c2}
.grid19 {background-color:brown} .grid19 > div {background-color:#e2c2c2}
.grid20 {background-color:blue} .grid20 > div {background-color: #bcbcf1}

h1 {margin-top: 3rem;margin-bottom: 1.5rem;font-size: 1.5rem;font-family: Aclonica;letter-spacing: 0.1rem}

input {margin-left: 1%;margin-right: 1%;width: 98%;padding: 0.5rem}

.keuze-titel {background-color: yellow;color: #000;padding: 0.5rem;font-size: 1.3rem}
.keuze-string {background-color: #d2ffc0;color: #000;padding: 0.5rem;font-size: 1.3rem}
.keuzes-container {display: grid;grid-template-columns: repeat(3,1fr);row-gap: 1.3rem;height: auto;text-align: left}

.klik {margin-top: 1.2rem;padding: 0.3rem}

.opmerking {width: 100%;height: 90%;background-color: red;color: #fff;font-size: 1.6rem;padding: 0.5rem}

.ora {background-color: #ffd07a}

.grid12_res, .grid13_res, .grid14_res {white-space: pre}  /* meerdere spaties aanvaarden */

.resultaten, .voorbeelden, .vb, .res, .grid1_res, .grid2_res, .grid3_res, .grid4_res, .grid5_res, .grid6_res, .grid7_res, .grid8_res, .grid9_res, .grid10_res, .grid11_res, .grid12_res, .grid13_res, .grid14_res, .grid15_res, .grid16_res, .grid17_res, .grid18_res, .grid19_res, .grid20_res {
  text-align: center;padding: 0.5rem;font-weight: bold;font-style: italic;font-size: 1.3rem;
}

.resultaten {grid-column: 2/3}

.voorbeelden {grid-column: 1/2}

.vb {grid-column: 1/2}

.res, .grid1_res, .grid2_res, .grid3_res, .grid4_res, .grid5_res, .grid6_res, .grid7_res, .grid8_res, .grid9_res, .grid10_res, .grid11_res, .grid12_res, .grid13_res, .grid14_res, .grid15_res, .grid16_res, .grid17_res, .grid18_res, .grid19_res, .grid20_res {
  grid-column: 2/3;
}

.white-on-purple {background-color: purple; color: #fff}

.uw-input {display: grid;grid-template-columns: 55% 45%}

@media (max-width: 1040px) {:root {--input-font-size: 1.3rem}}
@media (max-width: 800px) {:root {--input-font-size: 1.2rem}}
@media (max-width: 630px) {:root {--input-font-size: 1rem}}
@media (max-width: 600px) {:root {--input-font-size: 0.9rem}}

@media (max-width: 610px) {
  h1, .keuze-titel, .keuze-string, .voorbeelden, .res, .grid1_res, .grid2_res, .grid3_res, .grid4_res, .grid5_res, .grid6_res, .grid7_res, .grid8_res, .grid9_res, .grid10_res, .grid11_res, .grid12_res, .grid13_res, .grid14_res, .grid15_res, .grid16_res, .grid17_res, .grid18_res, .grid19_res, .grid20_res, .res33, .res34 .res35, .res36, .res37, .res38, .res39, .res40, .res41, .res42, .res43, .res44, .res45, .res46, .res47, .res48, .res49, .res50, .res51, .res52, .res53, .res54, .res55, .res60, .res61, .res62, .res63, .res64, .res65, .res66, .res67, .res68, .res69
  {font-size: 1rem}
}
